<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>用户</title>
    <style type="text/css" media="screen">
        html,body {padding:0px; margin:0px;}

        table {
            width:100%;
            margin:0px auto;
            text-align:center;
            border-collapse:collapse;
        }

		table tr th {line-height:35px;}
        table tr td {line-height:25px;}
        table tr th,td {border:1px solid #BEA5F3;}

        .button {
            background: #B7EAF7;
            padding: 5px 10px;
            border-radius: 3px;
            color: #090000;
            font-size: 14px;
            text-decoration: none;
            border: 1px solid #7B94F8;
            margin-right:5px;
        }

        .small {padding: 3px 8px; font-size:13px;}
        .disabled {background-color: white;}
        .hidden { display:none; }

        #data_panel {padding:10px;}
        #data_button {height:30px; margin:3px;}
        #data_list_next {margin-top:20px; margin-right:10px; float:right;}
		#data_panel {}

    </style>
</head>
<body>
    <div id="data_panel">
        <div id="data_sub_title" style="margin:10px 2px;"><strong>用户</strong></div>
        <div id="data_filter">
             <form action="" method="get" accept-charset="utf-8">
                 
                    
                        <label>用户会员编号</label>
                        
                        <input type="text" name="user_memID" value="{{item.filter.get('memID') or '' }}">
                        
                     
                  
                    
                        <label>用户ID</label>
                        
                        <input type="text" name="user_userID" value="{{item.filter.get('userID') or '' }}">
                        
                     
                  
                    
                        <label>用户编号</label>
                        
                        <input type="text" name="user_userCode" value="{{item.filter.get('userCode') or '' }}">
                        
                     
                  
                    
                        <label>用户姓名</label>
                        
                        <input type="text" name="user_userName" value="{{item.filter.get('userName') or '' }}">
                        
                     
                  
                    
                        <label>分店ID</label>
                        
                        <input type="text" name="user_chainID" value="{{item.filter.get('chainID') or '' }}">
                        
                     
                  
                    
                        <label>分店编号</label>
                        
                        <input type="text" name="user_projectID" value="{{item.filter.get('projectID') or '' }}">
                        
                     
                  
                    
                        <label>城市ID</label>
                        
                        <input type="number" name="user_cityID" value="{{item.filter.get('cityID') or '' }}">
                        
                     
                  
                    
                        <label>城市名称</label>
                        
                        <input type="text" name="user_cityName" value="{{item.filter.get('cityName') or '' }}">
                        
                     
                  
                    
                        <label>经理ID</label>
                        
                        <input type="text" name="user_managerID" value="{{item.filter.get('managerID') or '' }}">
                        
                     
                  
                    
                        <label>经理姓名</label>
                        
                        <input type="text" name="user_managerName" value="{{item.filter.get('managerName') or '' }}">
                        
                     
                  
                    
                        <label>职位ID</label>
                        
                        <input type="text" name="user_stationID" value="{{item.filter.get('stationID') or '' }}">
                        
                     
                  
                    
                        <label>职位名称</label>
                        
                        <input type="text" name="user_stationName" value="{{item.filter.get('stationName') or '' }}">
                        
                     
                  
                    
                        <label>Email邮件</label>
                        
                        <input type="text" name="user_email" value="{{item.filter.get('email') or '' }}">
                        
                     
                  
                    
                        <label>固定电话</label>
                        
                        <input type="text" name="user_tel" value="{{item.filter.get('tel') or '' }}">
                        
                     
                  
                    
                        <label>手机</label>
                        
                        <input type="text" name="user_mobile" value="{{item.filter.get('mobile') or '' }}">
                        
                     
                  
                    
                        <label>入职日期</label>
                        
                        <input type="date" name="user_joinDate" value="{{item.filter.get('joinDate') or '' }}">
                        
                     
                  
                    
                        <label>状态</label>
                        
                           {% set value= item.filter.get('status') or '' %}
                        <select name="user_status" id="user_status" >
                            <option value="">不限</option>
                            <option value="1" {% if value== '1' %} selected {% endif %} >在职</option>
<option value="2" {% if value== '2' %} selected {% endif %} >离职</option>
                        </select>
                        
                     
                  
                    
                  
                    
                  
                    
                  
                    
                  
                    
                  
                    
                  
                <input type="submit" value="搜索" class="button">
             </form>
        </div>

        <div id="data_info">
            <div id="data_button">
                <a href="/admin/user_edit/0" class="button" >增加</a>
                <a href="javascript:location.reload();" class="button" >刷新</a>
                <a href="javascript:window.open(location.href+ (location.search? location.search:'?')+ '&__format=xls','_blank');"  class="button" >导出</a>
            </div>

			{% if not item.get('records') %}
				<div>当前没有数据</div>
			{% else %}
            <div id="data_list">
                <table border="1">
                    <tr>
                        <th>序号</th>
                        <td>用户会员编号</td>
                            <td>用户ID</td>
                            <td>用户编号</td>
                            <td>用户姓名</td>
                            <td>分店ID</td>
                            <td>分店编号</td>
                            <td>城市ID</td>
                            <td>城市名称</td>
                            <td>经理ID</td>
                            <td>经理姓名</td>
                            <td>职位ID</td>
                            <td>职位名称</td>
                            <td>Email邮件</td>
                            <td>固定电话</td>
                            <td>手机</td>
                            <td>入职日期</td>
                            <td>状态</td>
                            <th>操作</th>
                    </tr>
                    
                    {% set options_info = {} %}
                    
                    
                    {% for line in item.get('records',[]) %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                
                                    {{ (line.memID or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.userID or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.userCode or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.userName or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.chainID or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.projectID or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.cityID or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.cityName or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.managerID or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.managerName or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.stationID or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.stationName or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.email or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.tel or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.mobile or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ (line.joinDate or '')|striptags|truncate(30)}}
                                
                            </td>
                                <td>
                                
                                    {{ options_info.get('status',{}).get(line.status,'')  }}
                                
                            </td>
                                <td>
                                <a href="/admin/user_read/{{ line.id }}" class="button small">查看</a>
                                <a href="/admin/user_edit/{{ line.id }}" class="button small">编辑</a>
                                <a href="/admin/user_delete/{{ line.id }}" class="button small" onclick="return confirm('确定删除?');">删除</a>
                                
                                <a href='#' class="button small hidden show_confirm" value="{{ line.id }}"> 确定 </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ item.get ('next_page') or '' }}

            </div>
            {% endif %}

    </div>
	</div>
</body>
</html>
<script src="/static/libs/jquery/jquery-1.11.0.min.js" ></script>

<script>

function return_confirm () {
   if ( window.opener ) {
    
        var tmp = window.opener.document.getElementById('user_confirm');
        if (tmp) {
            var tmp2 = $("a.show_confirm");
            tmp2.show();
            tmp2.click ( function () {
                console.log ( $(this).attr('value'));
                console.log ( tmp.value );
                window.opener.document.getElementById( tmp.value ).value = $(this).attr('value'); 
                window.close();
            });
        }
    }
}

$().ready(
    return_confirm
);
</script>
