<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>用户</title>
    <style type="text/css" media="screen">
        html,body {padding:0px; margin:0px;}

        .button {
            background: #B7EAF7;
            padding: 5px 10px;
            border-radius: 3px;
            color: #090000;
            font-size: 14px;
            text-decoration: none;
            border: 1px solid #7B94F8;
            margin-right:5px;
        }

        .small {padding: 3px 8px; font-size:13px;}

        .item_input {clear:both; clear: both; margin: 15px 0; }

        .basic_input {
            width: 200px;
            padding: 5px;
            height: 30px;
            font-size: 14px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #c9c9c9;
        }


        label {
            display: inline-block;
            float: left;
            margin-right: 15px;
            text-align: right;
            width: 80px;
            font-size: 14px;
            line-height: 30px;
            vertical-align: middle;
        }

        #data_panel {padding:10px;}
        
        form {
            margin: 0;
        }
        textarea {
            display: block;
        }

    </style>
    <script>
        function check () {
            var fields = [ 'user_memID', 'user_userID', 'user_userCode', 'user_userName',                     ];
            for (var i=0; i<fields.length; i++) {
                $("#" + fields[i] + "_msg").text("");
            }
            
            
            for (var i=0; i<fields.length; i++) {
                var tmp = $("#" + fields[i]);
                
                if (tmp.get(0).tagName=='TEXTAREA') {
                    continue;
                }
                
                if (tmp.val().trim().length == 0) {
                    $("#" + fields[i] + "_msg").text("<<不能为空");
                    tmp.focus();
                    return false;
                }
            }
            
            $("#form1").submit();
        }
        
    </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</head>
<body>
    <div id="data_panel">
        <div id="data_sub_title" style="margin:10px 2px;"><strong><a href="/admin/user_list">用户</a> 增加</strong></div>
        <div id="data_add">
            <form action="" method="post" accept-charset="utf-8" id="form1">
                
                <div class="item_input">
                    <label>用户会员编号</label>
                    
                    
                        
                            <input type="text" name="user_memID" id="user_memID" value="{{ data.get('record',{}).get('memID') or '' }}">
                        
                    
                    
                    <span id="user_memID_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>用户ID</label>
                    
                    
                        
                            <input type="text" name="user_userID" id="user_userID" value="{{ data.get('record',{}).get('userID') or '' }}">
                        
                    
                    
                    <span id="user_userID_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>用户编号</label>
                    
                    
                        
                            <input type="text" name="user_userCode" id="user_userCode" value="{{ data.get('record',{}).get('userCode') or '' }}">
                        
                    
                    
                    <span id="user_userCode_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>用户姓名</label>
                    
                    
                        
                            <input type="text" name="user_userName" id="user_userName" value="{{ data.get('record',{}).get('userName') or '' }}">
                        
                    
                    
                    <span id="user_userName_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>分店ID</label>
                    
                    
                        
                            <input type="text" name="user_chainID" id="user_chainID" value="{{ data.get('record',{}).get('chainID') or '' }}">
                        
                    
                    
                    <span id="user_chainID_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>分店编号</label>
                    
                    
                        
                            <input type="text" name="user_projectID" id="user_projectID" value="{{ data.get('record',{}).get('projectID') or '' }}">
                        
                    
                    
                    <span id="user_projectID_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>城市ID</label>
                    
                    
                        
                            <input type="number" name="user_cityID" id="user_cityID" value="{{ data.get('record',{}).get('cityID') or '' }}">
                        
                    
                    
                    <span id="user_cityID_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>城市名称</label>
                    
                    
                        
                            <input type="text" name="user_cityName" id="user_cityName" value="{{ data.get('record',{}).get('cityName') or '' }}">
                        
                    
                    
                    <span id="user_cityName_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>经理ID</label>
                    
                    
                        
                            <input type="text" name="user_managerID" id="user_managerID" value="{{ data.get('record',{}).get('managerID') or '' }}">
                        
                    
                    
                    <span id="user_managerID_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>经理姓名</label>
                    
                    
                        
                            <input type="text" name="user_managerName" id="user_managerName" value="{{ data.get('record',{}).get('managerName') or '' }}">
                        
                    
                    
                    <span id="user_managerName_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>职位ID</label>
                    
                    
                        
                            <input type="text" name="user_stationID" id="user_stationID" value="{{ data.get('record',{}).get('stationID') or '' }}">
                        
                    
                    
                    <span id="user_stationID_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>职位名称</label>
                    
                    
                        
                            <input type="text" name="user_stationName" id="user_stationName" value="{{ data.get('record',{}).get('stationName') or '' }}">
                        
                    
                    
                    <span id="user_stationName_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>Email邮件</label>
                    
                    
                        
                            <input type="text" name="user_email" id="user_email" value="{{ data.get('record',{}).get('email') or '' }}">
                        
                    
                    
                    <span id="user_email_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>固定电话</label>
                    
                    
                        
                            <input type="text" name="user_tel" id="user_tel" value="{{ data.get('record',{}).get('tel') or '' }}">
                        
                    
                    
                    <span id="user_tel_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>手机</label>
                    
                    
                        
                            <input type="text" name="user_mobile" id="user_mobile" value="{{ data.get('record',{}).get('mobile') or '' }}">
                        
                    
                    
                    <span id="user_mobile_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>入职日期</label>
                    
                    
                        
                            <input type="date" name="user_joinDate" id="user_joinDate" value="{{ data.get('record',{}).get('joinDate') or '' }}">
                        
                    
                    
                    <span id="user_joinDate_msg" > </span>
                    </div>
                <div class="item_input">
                    <label>状态</label>
                    
                    
                        
                            {% set value= (data.get('record',{}).get('status').__str__() or '') %}
                            <select name="user_status" id="user_status" > 
                                <option value=""></option>
                                <option value="1" {% if value== '1' %} selected {% endif %} >在职</option>
<option value="2" {% if value== '2' %} selected {% endif %} >离职</option>
                            </select>
                        
                    
                    
                    <span id="user_status_msg" > </span>
                    </div>
                <div class="item_input">
                	<label>&nbsp;</label>
                	<input type="button" class="button" value="保存" onclick="check();">
                	&nbsp;&nbsp;
                	<input type="button" class="button" value="返回" onclick="history.go(-1);">
                </div>

             </form>
        </div>

    </div>
</body>
</html>
<script src="/static/libs/jquery/jquery-1.11.0.min.js" ></script>