
{% extends "admin/common.html" %}

{% block content %}

<div id="main-right-header" class="subtitle"><a href="/admin/user">用户管理</a> / <span>{% if not data.record.id %}新增{% else %}编辑{%endif%}用户</span></div>
<div id="main-right-main" >
<div id="main-right-main-content">
<form action="" method="post" class="form">
    <table>
            
            
        <tr>
            <td><label>用户名</label></td>
            <td><input type="text" name="VARCHAR(80)" value="{{data.record.username or ''}}" placeholder="用户名" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td><label>密码</label></td>
            <td><input type="text" name="VARCHAR(32)" value="{{data.record.password or ''}}" placeholder="密码" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td><label>姓名</label></td>
            <td><input type="text" name="VARCHAR(100)" value="{{data.record.name or ''}}" placeholder="姓名" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td><label>权限</label></td>
            <td><input type="text" name="INTEGER" value="{{data.record.role or ''}}" placeholder="权限" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td><label>是否有效</label></td>
            <td><input type="text" name="INTEGER" value="{{data.record.flag or ''}}" placeholder="是否有效" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td><label>备注</label></td>
            <td><input type="text" name="VARCHAR(1024)" value="{{data.record.remark or ''}}" placeholder="备注" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td><label>创建时间</label></td>
            <td><input type="text" name="DATETIME" value="{{data.record.created or ''}}" placeholder="创建时间" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td><label>修改时间</label></td>
            <td><input type="text" name="DATETIME" value="{{data.record.updated or ''}}" placeholder="修改时间" class="textfield"></td>
        </tr>
            
            
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="保存修改" class="savebtn"> </td>
        </tr>
    </table>
    
</form>
</div> <!-- / main-right-main-content -->

</div> <!-- / main-right-main-content -->


{% endblock %}