
{% extends "admin/common.html" %}

{% block content %}

<div id="main-right-header" class="subtitle"><a href="/admin/position">职位管理</a> / <span>{% if not data.record.id %}新增{% else %}编辑{%endif%}职位</span></div>
<div id="main-right-main" >
<div id="main-right-main-content">
<form action="" method="post" class="form">
    <table>
        <tr>
            <td><label>职位名称</label></td>
            <td>
                
                
            </td>
        </tr>
        <tr>
            <td><label>是否有效</label></td>
            <td>
                
                
            </td>
        </tr>
        <tr>
            <td><label>备注</label></td>
            <td>
                
                
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="保存修改" class="savebtn"> </td>
        </tr>
    </table>
    
</form>
</div> <!-- / main-right-main-content -->

</div> <!-- / main-right-main-content -->


{% endblock %}