
{% extends "admin/common.html" %}
{% block content %}


<div id="main-right-header" class="subtitle">员工 管理

{% for msg in get_flashed_messages() %}
    &nbsp;&nbsp;<span style="background-color: #F0CCCC; color: #000; padding: 5px;">{{msg}}</span>
{% endfor %}    

</div>
<div id="main-right-main" >
<div id="main-right-main-content">

<div class="edit-menu" style="float:left;">
    <ul>
        <li><a href="#" onclick="location.reload();">刷新</a></li>
        <li><a href="/admin/staff/edit/0">新增</a></li>
        <li><a href="#" onclick="change_mul('/admin/staff/delete/0', '确定要删除这', '个用户?');">删除</a></li>
        <li><a href="/admin/staff/import">批量导入</a></li>
        <li><a href="/admin/staff/export">导出列表</a></li>
    </ul>
</div>

<div class="search-menu">
    <form method="get" action="">
        <input type="text" name="keyword"  value="" placeholder="手机号或用户名或姓名" style="width:200px; background-color:white;"><input type="submit" value="查询" >
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th><input type="checkbox" name="xx" onchange="check_all(this)" value="1"></th>
            <th>#</th>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>姓名</th>
            <th>职位</th>
            <th>部门</th>
            <th>入职日期</th>
            <th>离职日期</th>
            <th>手机号码</th>
            <th>邮箱</th>
            <th>直线上司</th>
            <th>是否有效</th>
            <th>备注</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        
        {% for record in (data.records or []) %}
        <tr>
            <td><input type="checkbox" name="record_id" value="{{record.id}}"></td>
            <td>{{loop.index}}</td>
        
            <td>{{record.id}}</td>
            <td>{{record.username}}</td>
            <td>{{record.password}}</td>
            <td>{{record.name}}</td>
            <td>{{record.posi_id}}</td>
            <td>{{record.stat_id}}</td>
            <td>{{record.join}}</td>
            <td>{{record.leave}}</td>
            <td>{{record.mobile}}</td>
            <td>{{record.email}}</td>
            <td>{{record.line_mg}}</td>
            <td>{{record.flag}}</td>
            <td>{{record.remark}}</td>
            <td>{{record.created}}</td>
            <td>{{record.updated}}</td>
            
            <td>
                <div>
                    <button class="editbtn" onclick="location.href='/admin/staff/edit/{{record.id}}'">修改</button>
                    <button class="editbtn" onclick="if (confirm('确定删除?')) location.href='/admin/staff/delete/{{record.id}}';">删除</button>
                </div>
            </td>
        </tr>
        
        
        {% endfor %}
        
    </tbody>
</table>


{% if data.records.count()==0 %}
<p>当前没有任何数据</p>
{% else %}
<br/>
<div >{{ data.pgnation|safe }}</div>
{% endif %}
</div> <!-- / main-right-main-content -->
</div> <!-- / main-right-main -->

{% endblock %}
